*.iml
*.iws
.DS_Store
.classpath
.gradle/
.idea/**/dataSources*
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/sqlDataSources*
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/workspace.xml
.idea/dictionaries
.idea/misc.xml
.idea/modules.xml
.idea_modules/
.project
.settings
.vscode
atlassian-ide-plugin.xml
bin/
build/
gradlew.bat
out/
